@import 'colors';

@font-face{
	font-family: "university_oldstyle";
	src: url('/fonts/university_oldstyle.ttf') format('truetype');
}

body{
	background-color: $cl;
}

h1, h2, h3, .navbar-brand{
	font-family: 'university_oldstyle', Fallback, serif;
}

h1{
	color: #333;
}

h3{
	color: $ca;
}

rep-context{
	& > div, search-filter{
		margin-top: 80px;
	}
}

.pg-title{
	border-bottom: 1px solid $cml;
}

.filters{
	position: fixed;
	height: 100%;
	top: 53px;
	background-color: white;
	padding-left: 0;
}

div.reps{
	ul{
		li{
			list-style: none;
		}
		list-style: none;
	}
}

.card{
	position: relative;
	min-height: 12rem;
	margin: 0.75rem 0 1.5rem 0;
	background-color: #fff;
	transition: box-shadow .25s;
	border: 1px solid #ddd;
	border-radius: 2px;
	&:first-child{
		margin-top: 0;
	}
	&:before, &:after{
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 15px;
		left: 10px;
		width: 50%;
		top: 80%;
		max-width:500px;
		background: #777;
		-webkit-box-shadow: 0 12px 6px #aaa;
		-moz-box-shadow: 0 12px 6px #aaa;
		box-shadow: 0 12px 6px #aaa;
		-webkit-transform: rotate(-2deg);
		-moz-transform: rotate(-2deg);
		-o-transform: rotate(-2deg);
		-ms-transform: rotate(-2deg);
		transform: rotate(-2deg);
	}
	&:after{
		-webkit-transform: rotate(2deg);
		-moz-transform: rotate(2deg);
		-o-transform: rotate(2deg);
		-ms-transform: rotate(2deg);
		transform: rotate(2deg);
		right: 10px;
		left: auto;
	}
	.card-title{
		h4{
			margin-bottom: 2px;
		}
		.card-subtitle{
			font-style: italic;
			color: #888;
			margin-bottom: 4px;
		}
	}
	.card-content{
		padding: 16px 0;
	}
	.card-footer{
		min-height: 16px;
	}
	ul{
		padding-left: 0;
	}
}

.party_Democrat{
	border-bottom: 4px solid $democrat-blue;
}
.party_Republican{
	border-bottom: 4px solid $republican-red;
}
.party_Independent{
	border-bottom: 4px solid $independent-gray;
}

rep-card{
	.rep-links{
		padding-right: 0;
		.navbar-right{
			float: right;
		}
		.navbar-nav{
			margin: 0;
			&>li{
				float: left;
				&>a{
					padding-top: 15px;
	    		padding-bottom: 15px;
				}
			}
		}
		.fa{
			font-size: 1.4em;
			color: #555;
		}
	}
}

.menu-hamburger{
	position: relative;
	padding: 2px;
	border: 1px solid red;
	width: 30px;
	height: 30px;
}
// .menu-global {
// 	backface-visibility: hidden;
// 	left: 0;
// 	border-top: 2px solid #333;
// 	width: 70%;
// 	transition: 0.55s;
// }
// .menu-top {top: 0; width: 30px;}
// .menu-middle {top: 8px; width: 30px;}
// .menu-bottom {top: 16px; width: 30px;}
// .menu-top-click {
// 	backface-visibility: hidden;
// 	border-top: 2px solid #333;
// 	top: 10px;
// 	transform: rotate(50deg);
// 	transition: 0.55s 0.5s;
// }
// .menu-middle-click {opacity: 0;}
// .menu-bottom-click {
// 	backface-visibility: hidden;
// 	border-top: 2px solid #333;
// 	top: 10px;
// 	transform: rotate(-410deg);
// 	transition: 0.55s 0.5s;
// }

