$cl: #e6ebee;
$cml: #c7c0bc;
$cm: #908575;
$cd: #453e31;
$ca: #ca774e;

$democrat-blue: #6485E3;
$republican-red: #E36D5D;
$independent-gray: #e6ebee;

body{
	background-color: $cl;
}

h1{
	color: #333;
}

h3{
	color: $ca;
}

.pg-title{
	border-bottom: 1px solid $cml;
}

ul.reps{
	li.rep{
		list-style: none;
	}
	list-style: none;
}

.card{
	position: relative;
	min-height: 12rem;
	margin: 0.75rem 0 1.5rem 0;
	background-color: #fff;
	transition: box-shadow .25s;
	border-radius: 2px;
	&:before, &:after{
		z-index: -1;
	  position: absolute;
	  content: "";
	  bottom: 15px;
	  left: 10px;
	  width: 50%;
	  top: 80%;
	  max-width:500px;
	  background: #777;
	  -webkit-box-shadow: 0 12px 6px #777;
	  -moz-box-shadow: 0 12px 6px #777;
	  box-shadow: 0 12px 6px #777;
	  -webkit-transform: rotate(-2deg);
	  -moz-transform: rotate(-2deg);
	  -o-transform: rotate(-2deg);
	  -ms-transform: rotate(-2deg);
	  transform: rotate(-2deg);
	}
	&:after{
	  -webkit-transform: rotate(3deg);
	  -moz-transform: rotate(3deg);
	  -o-transform: rotate(3deg);
	  -ms-transform: rotate(3deg);
	  transform: rotate(3deg);
	  right: 10px;
	  left: auto;
	}
	.card-title{
		h4{ margin: 1rem; }
		&.party_Democrat{
			border-bottom: 3px solid $democrat-blue;
		}
		&.party_Republican{
			border-bottom: 3px solid $republican-red;
		}
		&.party_Independent{
			border-bottom: 3px solid $independent-gray;
		}

	}
	.card-content{

	}
}

.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{

}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
